@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root {
    --backgroundColor: #202733;
    --adviceContainerColor: #313A48;
    --greenTextColor: #53FFAA;
    --adviceTextColor: #CEE3E9;
    --buttonColor: #53FFAA;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--backgroundColor);
    overflow: hidden;
    margin: 0;
    padding: 0;
}

main {
    width: 37vw;
    height: 47vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}
.advice-container {
    width: 100%;
    height: 90%;
    border-radius: 20px;
    background-color: var(--adviceContainerColor);
    display: flex;
    flex-direction: column;
    align-items: center;

}

#advice-number {
    display: flex;
    width: 85%;
    height: 20%;
    align-items: center;
    justify-content: center;
    font-size: .9vw;
    color: var(--greenTextColor);
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-style: normal;
    letter-spacing: .3vw;
    margin-top: 2vh;
}

#advice {
    display: flex;
    width: 85%;
    height: 30%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-style: normal;
    color: var(--adviceTextColor);
    font-size: 1.5vw;
    overflow: hidden;
    margin-bottom: 5vh;
}

.divider-container {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 5%;
    margin-top: 1vh;
}

.button-container {
    display: flex;
    width: 100%;
    height: 7%;
    align-items: end;
    justify-content: center;
}

.get-advice {
    width: 4vw;
    height: 7vh;
    background-color: var(--buttonColor);
    border: none;
    border-radius: 50%;
}

.get-advice img {
    max-width: 100%;
    max-height: 100%;
    width: 1.7vw;
}